.todo-header-container {
  background-color: var(--color-secondary-pink);
  border-bottom: 5px solid var(--color-text-primary);
  box-shadow: 0 3px 0 var(--color-primary-pink);
  .title {
    font-size: 7vw;
  }
}
