@font-face {
  font-family: "iconfont"; /* Project id 4890283 */
  src: url('iconfont.woff2?t=1745736688042') format('woff2'),
       url('iconfont.woff?t=1745736688042') format('woff'),
       url('iconfont.ttf?t=1745736688042') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x_paixu:before {
  content: "\e690";
}

.icon-x_shuju:before {
  content: "\e692";
}

.icon-x_wenhao:before {
  content: "\e694";
}

.icon-x_danxuan:before {
  content: "\e682";
}

.icon-x_fuxuankuang:before {
  content: "\e68a";
}

.icon-x_fuxuankuangxuanzhong:before {
  content: "\e68b";
}

.icon-x_jiaru:before {
  content: "\e68d";
}

.icon-x_xuanzhong:before {
  content: "\e699";
}

.icon-xiangsu_xiaoya:before {
  content: "\ed1a";
}

.icon-xiangsu_caomei:before {
  content: "\ed1f";
}

.icon-xiangsu_tuzi:before {
  content: "\ed20";
}

.icon-xiangsu_xigua:before {
  content: "\ed23";
}

.icon-xiangsu_mao:before {
  content: "\ed2a";
}

.icon-eye-disabled:before {
  content: "\e617";
}

.icon-xiangsu-hanbao:before {
  content: "\e618";
}

.icon-xiangsu-shuidi:before {
  content: "\e619";
}

.icon-xiangsu-huomiao:before {
  content: "\e61a";
}

.icon-xiangsujiantou:before {
  content: "\e652";
}

.icon-xiangsujiantou1:before {
  content: "\e654";
}

.icon-create:before {
  content: "\e612";
}

.icon-right:before {
  content: "\e613";
}

.icon-check:before {
  content: "\e614";
}

.icon-top:before {
  content: "\e615";
}

.icon-xiangsujiantou-shang:before {
  content: "\e616";
}

.icon-xiangsutuxing:before {
  content: "\e623";
}

.icon-xiangsu_jinbi:before {
  content: "\ed28";
}

.icon-xiangsu_jiangbei:before {
  content: "\e610";
}

.icon-xiangsu_jinbi1:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\10186";
}

.icon-gengduo:before {
  content: "\10187";
}

.icon-shouye:before {
  content: "\10188";
}

.icon-bangzhu:before {
  content: "\10189";
}

.icon-ziliao:before {
  content: "\1018a";
}

.icon-renwu:before {
  content: "\1018b";
}

.icon-zan:before {
  content: "\1018c";
}

.icon-wode:before {
  content: "\1018d";
}

.icon-shezhi:before {
  content: "\1018e";
}

.icon-xiangsu_qizhi:before {
  content: "\e611";
}

.icon--calendar:before {
  content: "\e601";
}

.icon--star:before {
  content: "\e602";
}

.icon--settings:before {
  content: "\e603";
}

.icon--heart:before {
  content: "\e604";
}

.icon--smile:before {
  content: "\e605";
}

.icon--dead:before {
  content: "\e606";
}

.icon--bored:before {
  content: "\e607";
}

.icon--shy:before {
  content: "\e608";
}

.icon--happy:before {
  content: "\e609";
}

.icon--users:before {
  content: "\e60a";
}

.icon--bell:before {
  content: "\e60b";
}

.icon--bar-chart:before {
  content: "\e60c";
}

.icon--chat-:before {
  content: "\e60d";
}

.icon--home:before {
  content: "\e60e";
}

.icon--trash:before {
  content: "\e60f";
}

