/* --------------- 公共组件样式 --------------- */
// 列表-分类tab
.tab-card {
  padding: 2px 6px;
  background-color: #eee;
  cursor: pointer;
  &.checked {
    background-color: #dd9b4d;
    color: #fff;
  }
}
// 列表
.list-container {
  height: calc(100% - 60px);
  .list {
    height: calc(100% - 50px);
  }
}
/* --------------- 颜色变量 --------------- */
// 定义颜色变量
:root {
  // 主题色
  --color-primary: #d0b279;
  --color-secondary: #e4d8c2;
  --color-tertiary: #ede8dc;
  // 主题色-粉
  --color-primary-pink: #edb1b6;
  --color-secondary-pink: #f4d2d5;
  --color-tertiary-pink: #d1b2b6;
  // 主题色-蓝
  --color-primary-blue: #c7f0ff;
  // 文字颜色
  --color-text-primary: #000;
  --color-text-secondary: #333;
  --color-text-tertiary: #666;
  // 背景颜色
  --color-background-primary: #fff;
  --color-background-secondary: #f5f5f5;
  // 按钮颜色
  --color-button-primary: #d3954d;
  --color-button-secondary: #eee;
  --color-button-hard: #b57c35;
  // 边框颜色
  --color-border-primary: #333;
  --color-border-secondary: #eee;
  // 自定义颜色
  --color-red: #e36f61;
  --color-orange: #d3954d;
}
/* --------------- 全局动画 --------------- */
/* 全局点击缩小动画 */
.click-shrink-animate {
  animation: clickShrink 0.2s ease-in-out;
  display: inline-block;
}

@keyframes clickShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
/* --------------- 覆盖vant组件样式 --------------- */
.rv-popup--right.rv-popup--round {
  border-radius: 0 !important;
}
