// 列表-分类tab
.tab-card {
  padding: 2px 6px;
  background-color: #eee;
  cursor: pointer;
  &.checked {
    background-color: #dd9b4d;
    color: #fff;
  }
}
// 列表
.list-container {
  height: calc(100% - 40px);
  .list {
    height: calc(100% - 30px);
  }
}

// 定义颜色变量
:root {
  --color-primary: #d0b279;
  --color-secondary: #e4d8c2;
  --color-tertiary: #ede8dc;
}

/* 全局点击缩小动画 */
.click-shrink-animate {
  animation: clickShrink 0.2s ease-in-out;
  display: inline-block;
}

@keyframes clickShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}