// 列表-分类tab
.tab-card {
  padding: 4px 10px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;  // 新增过渡动画
  &.checked {
    background-color: #dd9b4d;
    color: #fff;
    border: 0;
  }
}
// 列表
.list-container {
  height: calc(100% - 40px);
  .list {
    height: calc(100% - 30px);
  }
}