.task-detail-container {
  background-color: var(--color-primary);
  width: 100%;
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  .header-container {
    position: relative;
    height: 70px;
    color: var(--color-background-primary);
    display: flex;
    line-height: 40px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .description {
      line-height: 20px;
      font-size: 12px;
    }
    .back-btn {
      position: absolute;
      left: 10px;
      top: 12px;
      i {
        font-size: 18px;
      }
    }
    .edit-btn {
      position: absolute;
      right: 10px;
      top: 12px;
      i {
        font-size: 20px;
      }
    }
  }
}
.section-container {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: var(--color-primary);
  background-color: var(--color-background-primary);
}
.target-card-container {
  background-color: var(--color-background-primary);
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .target {
    font-size: 16px;
    color: var(--color-text-secondary);
  }
  .result {
    font-size: 24px;
    color: var(--color-button-primary);
    margin-left: 40px;
  }
  
}
.statics-card-container {
  background-color: var(--color-background-primary);
  padding: 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  .statics-card {
    width: 50%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .statics-card-title {
      color: var(--color-text-secondary);
    }
    .statics-card-value {
      font-size: 28px;
      color: var(--color-button-primary);
    }
  }
}