@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 0.2s ease-in-out;
  transition: transform ease-in-out 0.2s;
}

.icon-color {
  color: var(--color-tertiary-pink);
  opacity: 0.8;
}